# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\code-2021\Supplementary Material for NeurIPS 2021 submission #5331\code for FedMDVR\federated-learning-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
